body {
    background-image: url(images/pexels-jaime-reimer-2662116.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.h1act {
    color: azure;
text-decoration: underline;
}